*{
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
      
    }

h1, h2 {
    text-transform: capitalize;
}

.time {
    font-weight: bold;
    color: #FD7827;
}

.tagline {
    font-size: 0.8em;
    margin-top: -5px !important;
}

.pop-container {
    visibility: hidden;
    position: fixed;
    background: rgb(0 0 0 / 65%);
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    padding: 10px;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.show-result {
    visibility: visible;
}

.result {
    padding: 10%;
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5em;
}

.future-date {
    font-weight: 500;
    font-size: 2em;
}

.close{
    position: absolute;
    right: 20px;
    top:20px;
}

body{
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#c2ced1,#3e585e);
  }


  